.dropdown-container {
  text-align: center;
  margin-bottom: 32px;
}

.season-container {
  display: inline-block;
  margin-right: 32px;
}

.division-container {
  display: inline-block;
}

.dropdown-title {
  color: var(--white);
  line-height: 40px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-select {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  padding: 8px 56px 8px 16px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='5' width='10'><path d='M0,0h10L5,5L0,0' fill='%23eaeaea'/> </svg>"),
    linear-gradient(to right, var(--light-grey), var(--light-grey));
  background-position:
    calc(100% - 15px) 18px,
    calc(100% - 40px) 8px;
  background-size:
    10px 5px,
    1px 24px;
  background-repeat: no-repeat;
}

.dropdown-select:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='5' width='10'><path d='M0,5L5,0l5,5L0,5Z' fill='%23000000'/> </svg>"),
    linear-gradient(to right, var(--light-grey), var(--light-grey));
  background-position:
    calc(100% - 15px) 16px,
    calc(100% - 40px) 8px;
  background-size:
    10px 5px,
    1px 24px;
  background-repeat: no-repeat;
  border-color: var(--white);
  outline: 0;
}

.dropdown-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--black);
}
